{% extends "base/base.html" %}
{% block content %}
<h1>新增表單</h1>
<form method="POST">
    {% csrf_token %}
    <ul>
        <li>名稱： <input name="title"></li>
        <li>網址： <input name="url" placeholder="發布的連結"> 在 Google 試算表中，檔案 > 發佈到網路 > 發佈 > 複製那個連結</li>
        <li>群組：
            <select name="gp">
                {% for i in gp %}
                <option value="{{ i.gp.id }}">{{ i.gp.GNAME }}</option>
                {% endfor %}
            </select>
        </li>
        <li>學號位置： <input name="sid" type="number" placeholder="選填，數字"></li>
        <li>中文姓名位置： <input name="cname" type="number" placeholder="選填，數字"></li>
        <li>是否為會員位置： <input name="vip" type="number" placeholder="選填，數字"></li>
        <li>Email 位置： <input name="email" value="{{ gs.EMAIL }}" type="number" placeholder="選填，數字"></li>
        <li><button type="submit">送出</button> </li>
    </ul>
</form>
{% endblock %}
