{% extends "base/base.html" %}
{% block content %}
     <button class="btn btn-info" onclick="location.href = '{% url 'GoogleSheet.add' %}'">新增</button>
            <table class="table table-hover mt-3">
                <tr>
                    <th>名稱（點擊查看）</th>
                    <th>原始網址</th>
                    <th>編輯</th>
                </tr>
                {% for i in sheet %}
                <tr>
                    <td><a href="{{ i.id }}">{{ i.TITLE }}</a></td>
                    <td><a href="{{ i.URL }}">連結</a></td>
                    <td><a href="{% url 'GoogleSheet.update' i.id %}">編輯</a></td>
                </tr>
                {%  endfor %}
            </table>
{% endblock %}  

