{% extends "base/base.html" %}
{% load static %}
{% block content %}
    <head>
        {#  匯出成 CSV #}
        <script src="{% static 'js/jquery.tabletoCSV.js' %}"></script>
        {# table 排序 #}
        <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    </head>
    <div class="container mt-3">
        <h2>{{ gp.GNAME }}名單</h2>
        <button class="btn btn-info" onclick="show();">列出所有學校信箱</button>
        {% if edit %}
            <button class="btn btn-warning"
                    onclick="location.href = '{% url 'gp.update.list' gp.id %}';">編輯群組
            </button>
        {% endif %}
        <button class="btn" id="export" data-export="export">匯出資料</button>
        <span class="badge badge-secondary">人數：{{ gp_member|length }}</span>
        <p id="ShowEmail"></p>
        {% if gp_member %}
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>學號</th>
                    <th>姓名</th>
                    <th>職稱</th>
                    <th>系所</th>
                    <th>年級</th>
                    <th>私人信箱</th>
                    <th>手機</th>
                    <th>加入日期</th>
                </tr>
                </thead>
                <tbody>
                {% for row in gp_member %}
                    <tr>
                        <td>
                            {% if edit %}
                                <a class='SID'
                                   href="{% url 'gp.update.member' row.GP.id row.MEMBER.SID %}">{{ row.MEMBER.SID }}</a>
                            {% else %}
                                <p class="SID">{{ row.MEMBER.SID }}</p>
                            {% endif %}
                        </td>

                        <td> {{ row.MEMBER.CNAME }} </td>
                        <td> {{ row.TITLE | default:"" }}</td>
                        <td> {{ row.MEMBER.DEP }} </td>
                        <td> {{ row.MEMBER.GRADE }} </td>
                        <td> {{ row.MEMBER.EMAIL | default:"" }} </td>
                        <td> {{ row.MEMBER.PHONE | default:"" }} </td>
                        <td> {{ row.created_at | default:"" }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
