<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>編輯用戶</h1>
        <form method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    姓名：
                    {{ user.MEMBER.CNAME }}
                </li>
                <li>
                    系所：
                    {{ user.MEMBER.DEP }}
                </li>
                <li>
                    年級：
                    {{ user.MEMBER.GRADE }}
                </li>
                <li>
                    私人信箱：
                    <input name='email' value='{{ user.MEMBER.EMAIL | default:"" }}'>
                </li>
                <li>
                    職稱：
                    <input name='title' value='{{ user.TITLE | default:"" }}'>
                </li>
                <li>
                    手機：
                    <input name='phone' value='{{ user.MEMBER.PHONE | default:"" }}'>
                </li>
            </ul>
            
            <button type="submit">送出</button>
        </form>
        <button onclick="window.history.back();" >取消</button>
    </body>
</html>
