<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>NCNU MEMBER</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
		 crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		 crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		 crossorigin="anonymous"></script>
		<script> src="js/main.js"</script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<a class="navbar-brand" href="{% url 'index' %}">NCNU 學生會員管理系統</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="{% url 'index' %}">會員搜尋</a>
					<a class="nav-item nav-link" href="{% url 'gp.list' %}">群組</a>
                    <a class="nav-item nav-link" href="{% url 'GoogleSheet' %}">表單資料</a>
					<a class="nav-item nav-link" href="{% url 'admin:index' %}">管理後台</a>
					<a class="nav-item nav-link" href="{% url 'logout' %}">登出</a>
				</div>
			</div>

		</nav>
		<div class="container">
			<!-- searching box -->
			<div class="d-flex justify-content-center align-items-center">
				<form class="form-inline my-5 my-lg-5">
					<input class="form-control mr-sm-2" type="search" placeholder="something cool..." aria-label="Search" name="Q">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			<!-- list email button -->
			<div>
				<br> {% if result %}
				<button class="btn btn-info" onclick="show();">列出所有學校信箱</button>
				<p id="ShowEmail"></p>
			</div>
			<!-- show searching result -->
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">學號</th>
							<th scope="col">姓名</th>
							<th scope="col">系所</th>
							<th scope="col">年級</th>
							<th scope="col">私人信箱</th>
						</tr>
					</thead>
					{% for row in result %}
					<tbody>
						<tr>
							<td class='SID' scope="row"> 
								{{ row.SID }} 
							</td>
							<td scope="row">
								{{ row.CNAME }} 
							</td>
							<td scope="row">
								{{ row.DEP }}
							</td>
							<td scope="row">
								{{ row.GRADE}}
							</td>
							{% if row.EMAIL == None %}
							<td scope="row"></td>
							{% else %}
							<td scope="row">
								{{ row.EMAIL}}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
			</div>
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <label> 輸入範例：</label>
                    <ol>
                        <li>王小明</li>
                        <li>學1</li>
                        <li>資工 學退學</li>
                        <li>104328005</li>
                    </ol>
                </div>
                <div class="col-md-5">
                    <table class="table table-bordered">
                        <tr>
                            <td rowspan="3">學</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td rowspan="3">碩</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td rowspan="4">博</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>休學</td>
                        </tr>
                        <tr>
                            <td>退學</td>
                        </tr>
                    </table>
                </div>
            </div>{% endif %}
		<script>
			var email = "";
				let item = document.getElementsByClassName("SID");
				for (var i = 0; i < item.length; i++) {
					email += "s" + item[i].innerHTML.trim() + "@mail1.ncnu.edu.tw, ";
				}
				email = email.substr(0, email.length - 2);
				function show() {
					document.getElementById("ShowEmail").innerHTML =
						'<input onmouseover="this.select()" value="' + email + '" />'+
                    ' <label> **將滑鼠移到欄位中右鍵即可複製**</label>';
				}
		</script>

</html>
